# Paired T-test

In [8]:
import pandas as pd
from scipy import stats
from statsmodels.stats import weightstats as stests

In [9]:
df = pd.read_csv('blood_pressure.csv')

In [10]:
df[['bp_before','bp_after']].describe()
df.head(5)

   patient   sex agegrp  bp_before  bp_after
0        1  Male  30-45        143       153
1        2  Male  30-45        163       170
2        3  Male  30-45        153       168
3        4  Male  30-45        153       142
4        5  Male  30-45        146       141

In [11]:
df.shape

(120, 5)

In [13]:
ttest,pval = stats.ttest_rel(df['bp_before'],df['bp_after'])
print(pval)

0.0011297914644840823

In [14]:
if pval<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypotesis")

reject null hypothesis

In [25]:
df = pd.read_csv('Fish.csv')

In [26]:
df.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [27]:
df[['Length1','Length2']].describe()
df.head(5)

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [28]:
df.shape

(159, 7)

In [29]:
ttest,pval = stats.ttest_rel(df['Length1'],df['Length2'])
print(pval)

8.98060011577915e-76

In [30]:
if pval<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypotesis")

reject null hypothesis